body{
	margin: 0;
}

header{
	background-color: white;
	height: 120px;
	width: 100%;
	margin: auto;
}

nav{
	background-color: white;
	width: 85%;
	margin: inherit;
	height: 100%;
	overflow: hidden;

}

.nav-box{
	background-color: white;
	margin-top: 10px;
	height: 100%;
}

.nav-top{
	background-color: white;
	width: 100%;
	border-bottom: 2px solid black;
	height: 60%;
	
}

.logo{
	width: 15%;
	background-color: white;
	float: left;
	height: 100%;
}

.logo img{
	
	margin-left: 13px;
	margin-top: 8px;

}

.admin{
	width: 85%;
	background-color: white;
	overflow: hidden;
	text-decoration: none;
	height: 100%;
}

ul{
	text-decoration: none;
	margin-top: 25px;
}

li{
	list-style-type: none;
	display: inline;

}

.admin-right{
	float: right;
	word-spacing: 20px;
}

.admin a{
	text-decoration: none;
}
.nav-bottom{
	background-color: white;
	height: 35%;
}

.nav-bottom ul{
	margin-top: 6px;
	word-spacing: 60px;
}

.nav-bottom .logo{
	font-size: 15px;
	text-align: center;
	margin-top: 6px;
}
#admin-panel{
	background-color: white;
	padding: 2px;
	border-radius: 2px;
	color: black;
	height: 50px;

}
#unit-border{
	border-bottom: 2px solid yellow;
}

a{
	color: grey;
}
